@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
/* ====Reset geral da page==== */
*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
  background: #9999ff;
}

a {
  text-decoration: none;
}

.container{
  width: 80%;
  height: 80vh;
  display: flex;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
}

.image-form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fde3a7d7;
  border-radius: 15px 0 0 15px;
}

.image-form img{
  width: 31rem;
  
}

.form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 3rem;
  border-radius: 0 15px 15px 0;
}

.form-login-cabecalho{
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.form-login-cabecalho h1::after{
  content: '';
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #6b6bf7;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px ;
}

.login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.login-btn button{
  padding: 5px 50px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #6b6bf7;
  color: #fff;
}

.login-btn button:hover{
  background-color: #9999ff;
}

.input-box:not(:last-child){
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-box input{
  margin: .06rem 0;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
  background-color: #eeeeee75;
}

.input-box input:focus-visible{
  outline: 1px solid #6b6bf7;
}

.input-box input::placeholder{
  color: #000000be;
}

/*=== Footer ===*/
.footer{
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.btn-cadastro button:hover{
  background-color: #9999ff;  
}

.btn-cadastro button a{
  color: #fff;
}
.btn-cadastro button{  
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  
  background-color: #6b6bf7;
}

.btn-cadastro span{
  font-size: 0.8rem;;
}

